*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background-color: rgb(11, 19, 34);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(8, 42, 104);
    border-bottom: 1px dotted gray;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header .left h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    cursor: pointer;
    transition: 0.5s;
}
header .right a{
    margin-left: 40px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
header .left h1:hover,header .right a:hover{
    color: black;
}
.backgroundimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 42, 104);
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 70px;
    padding-right: 70px;
}
.backgroundimg .right{
    border-top: 5px solid #BA55D3;
    border-bottom: 5px solid #BA55D3;
    border-left: 5px solid #87CEFA;
    border-right: 5px solid #87CEFA;
    box-shadow: 5px 5px 25px 20px #87CEFA;
    border-radius: 100%;
}
.backgroundimg .left p{
    color: white;
    font-family: "Roboto", "sans-serif";
    font-size: 40px;
    font-weight: 900;
    line-height: 100px;
    font-size: 30px;
}
.backgroundimg .left h1{
    color: white;
    font-family:"Madimi One", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
}
.backgroundimg .left h1::after{
    content: "|";
    margin-left: 10px;
    font-size: 60px;
    font-weight: normal;
    animation: curser 0.3s infinite;
}
@keyframes curser{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.backgroundimg .left button,.backgroundimg .left a{
    background-color: white;
    color: rgb(8, 42, 104);
    padding: 20px;
    width: 150px;
    border: none;
    outline: none;
    font-weight: 900;
    cursor: pointer;
    transition: 1s;
}
.backgroundimg .left a{
    text-decoration: none;
}
.backgroundimg .left button:hover,.backgroundimg .left a:hover{
    background: none;
    color: white;
    border: 1px solid white;
}
.backgroundimg .right img{
    margin: 6px;
    width: max-content;
    height: max-content;
    height: 500px;
    width: 500px;
}
.backgroundimg .left .socialmedia{
    padding: 10px;
    padding-top: 70px;
}
.backgroundimg .left .socialmedia a{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    padding-top: 40px;
    margin-left: 10px;
}
.backgroundimg .left .socialmedia a i{
    color: rgb(8, 42, 104);
    font-size: 40px;
}
.about > h1,.skills >h1,.education > h1,.project >h1,.contact >h1{
    text-align: center;
    border-bottom: 3px solid rgb(8, 42, 104);
    margin: 0 620px;
    padding: 20px;
}
.education > h1{
    margin: 0 590px;
}
.about .infromation,.skills .infromation{
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    padding: 25px;
}
.about .infromation h2,.skills .infromation h2{
    margin-bottom: 20px;
}
.about .infromation .right table tr td{
    width: 100px;
}
.skills .infromation{
    padding-left: 100px;
    padding-right: 100px;
}
.skills .infromation ul{
    margin-left: 55px;
}
.education .infromation{
    display: flex;
    padding: 80px;
    padding-left: 270px;
    padding-right: 270px;
}
.education .infromation .left,.education .infromation .right{
    background-color:rgb(8, 42, 104);
    box-shadow: 0px 0px 10px gray;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 25px;
    margin-right: 40px;
    height: 100px;
    width: 600px;
}
.education .infromation .right{
    background-color: white;
    color: black;
    font-weight: normal;
}
.project .infromation{
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    padding-left: 175px;
    padding-right: 175px;
}
.project .infromation .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.project .infromation img{
    width: 500px;
    height: 500px;
}
.project .infromation .item button,.contact .infromation button{
    cursor: pointer;
    background-color: rgb(8, 42, 104);
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 10px;
    width: 100px;
    margin: 30px;
    margin-left:180px;
    margin-right:180px;
}
.contact .infromation{
	background-image:url(../img/staticmap.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:100%;
	height:750px;
	padding:50px;
}
.contact form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color:white;
	box-shadow:0 0 10px gray;
	max-width:350px;
	padding:20px;
	margin:0 auto;
}
.contact form label{
	font-size:30px;
}
.contact form input{
	margin:20px 0;
}
.contact form textarea{
	margin:20px 0;
    resize: none;
    width: 250px;
    height: 250px;
}
.contact >h1{
    margin: 40px 560px;
}
header .left button{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    display: none;
}
/*---------------------------------------------*/
@media screen and (max-width:425px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        padding-left: 80px;
        padding-right: 80px;
        background-color: rgb(8, 42, 104);
        border-bottom: 1px dotted gray;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        zoom: 50%;
    }
    header .left h1{
        color: white;
        font-size: 30px;
        font-weight: 900;
        font-family: "Madimi One", sans-serif;
        font-style: normal;
        cursor: pointer;
        transition: 0.5s;
    }
    header .left button{
        background: none;
        border: none;
        outline: none;
        color: white;
        font-size: 30px;
        display: block;
        cursor: pointer;
        position: absolute;
        right:40px;
    }
    header .left #closebtn{
        display: none;
    }
    header .left{
        display: flex;
        justify-content: space-between;
        width: 700px;
        padding: 10px;
    }
    header .right{
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0;
        display: none;
        background-color: rgb(8, 42, 104);
        padding: 40px;
        z-index: 200;
    }
    .backgroundimg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(8, 42, 104);
        padding-top: 110px;
        padding-bottom: 110px;
        padding-left: 70px;
        padding-right: 70px;
        zoom: 30%;
    }
    .about .infromation,.skills .infromation{
        background-color: white;
        box-shadow: 0px 0px 10px gray;
        display: flex;
        justify-content: space-between;
        margin: 50px 100px;
        padding: 25px;
        zoom: 30%;
    }
    .about > h1,.skills >h1,.education > h1,.project >h1,.contact >h1{
        text-align: center;
        border-bottom: 3px solid rgb(8, 42, 104);
        margin: 0 500px;
        padding: 20px;
        zoom: 30%;
    }
    .education .infromation{
        display: flex;
        padding: 80px;
        padding-left: 70px;
        padding-right: 70px;
    }
    .education .infromation .left,.education .infromation .right{
        background-color:rgb(8, 42, 104);
        box-shadow: 0px 0px 10px gray;
        color: white;
        font-size: 20px;
        font-weight: bolder;
        padding: 50px;
        padding-left:150px ;
        padding-right:150px ;
        margin-right: 40px;
        height: 240px;
        width: 600px;
        zoom:30%
    }
    .education .infromation .right{
        background-color: white;
        color: black;
        font-weight: normal;
    }
    .project .infromation{
        display: flex;
        flex-wrap: wrap;
        padding: 60px;
        padding-left: 245px;
        padding-right: 245px;
        zoom: 30%;
    }
    .project .infromation img{
        width: 300px;
        height: 300px;
    }
    .contact >h1{
        margin-bottom: 60px;
    }
}
